:root {
	--box-height: 100vh;
	--box-width: 100vw;
	--calc-size: * (var(--box-width) - 320px) / (1440 - 320);
	--ps-center: 0 auto;
	--trns-base: all 0.2s ease-in-out;
	--trns-long: all 0.4s ease-in-out;
	--color-background: #f6f6f7; /* Soft light gray for the main background */
	--color-surface: #ffffff; /* Pure white for cards, modals, and elevated surfaces */
	--color-text-primary: #111418; /* Dark text for maximum readability */
	--color-text-secondary: #4e4e57; /* Medium gray for secondary text */
	--color-text-muted: #a0a0a5; /* Subtle gray for muted text or placeholders */
	--color-border: #dedfe3; /* Light gray for borders and dividers */
	--color-highlight: #48bae7; /* Vibrant blue for links and buttons */
	--color-highlight-hover: #a1cedf;
	--color-hover-surface: #e8e9eb; /* Light gray for hover effects on surfaces */
	--color-disabled: #dedfe3; /* Dimmed light gray for disabled components */
	--color-error: #d32f2f;
	--gradient-red: linear-gradient(90deg, #fb7f70 0%, #f53d4f 100%);
	--gradient-green: linear-gradient(90deg, #4fca49 0%, #009960 100%);
	--ff-base: 'Circular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji',
		sans-serif;
	--ff-alt: 'Circular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji',
		sans-serif;
	--fs-base: 1em;
	--fs-small: 0.8em;
	--card-size: calc(350px + (416 - 350) var(--calc-size));
	--size-80: calc(40px + (80 - 40) var(--calc-size));
	--size-62: calc(25px + (62 - 25) var(--calc-size));
	--size-48: calc(25px + (48 - 25) var(--calc-size));
	--size-40: calc(25px + (40 - 25) var(--calc-size));
	--size-30: calc(25px + (30 - 25) var(--calc-size));
	--size-25: calc(20px + (25 - 20) var(--calc-size));
	--size-20: calc(15px + (20 - 15) var(--calc-size));
	--size-15: calc(10px + (15 - 10) var(--calc-size));
	--size-12: calc(10px + (12 - 10) var(--calc-size));
	--size-10: calc(5px + (10 - 5) var(--calc-size));
	--br-base: 8px;
	--lh-base: 1.25;
	--ls-base: 0.1px;
	--fw-base: 400;
	--fw-medium: 500;
	--fw-bold: 700;
	--opacity-hover: 0.7;
	--box-shadow: 0 4px 6px rgba(105, 103, 103, 0.5);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--ff-base);
	font-size: var(--fs-base);
	color: var(--color-contrast-rich);
	font-weight: var(--fw-base);
	letter-spacing: var(--ls-base);
	line-height: var(--lh-base);
	background-color: var(--color-background);
}

.hidden {
	display: none;
}

/** ------ Main Window ------ **/

.frame-form-wrapper {
	height: var(--box-height);
	width: var(--box-width);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--size-80);
	flex-flow: row wrap;
	padding: var(--size-62);
}

.upload-frame-wrapper {
	flex: 0 0 35%;
	max-width: calc(40% - var(--size-80));
}

.upload-frame-wrapper .upload-frame-label {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--size-30);
	cursor: pointer;
	box-shadow: var(--box-shadow);
	background-color: var(--color-surface);
	padding: var(--size-62) var(--size-48);
	border-radius: var(--br-base);
	max-width: var(--card-size);
	margin: 0 auto;
}

.upload-frame-wrapper .upload-frame-label span {
	transition: var(--trns-base);
}

.upload-frame-wrapper .upload-frame-label img {
	width: 100%;
	max-height: 98px;
	object-fit: contain;
	object-position: center;
}

.preview-wrapper {
	flex: 0 0 65%;
	max-width: calc(60% - var(--size-80));
	margin-bottom: var(--size-20);
}

#preview img {
	height: auto;
	max-height: 350px;
	max-width: 100%;
	width: auto;
	margin: 0 auto;
	display: block;
	box-shadow: var(--box-shadow);
}

.preview-file-name {
	margin-top: var(--size-30);
	text-align: center;
	color: var(--color-text-secondary);
}

.frame-form-field {
	display: flex;
	flex-direction: column;
}

.frame-form-field label {
	font-weight: var(--fw-medium);
	margin-top: var(--size-10);
	font-size: var(--fs-small);
	color: var(--color-text-secondary);
}

#frame-form {
	max-width: 50%;
	margin: 0 auto;
}

input {
	border: 2px solid var(--color-background);
	padding: var(--size-12);
	border-radius: var(--br-base);
	width: 100%;
	margin: var(--size-10) auto var(--size-15);
	outline: none;
	background: var(--color-surface);
	box-shadow: var(--box-shadow);
	transition: border-color 0.2s ease-in-out;
}

input:hover {
	border-color: var(--color-highlight-hover);
}

input:focus,
input:focus-visible,
input:active {
	border-color: var(--color-highlight);
}

button,
.btn {
	position: relative;
	display: inline-block;
	font-weight: var(--fw-bold);
	line-height: 1;
	border-radius: 0.6em;
	color: var(--color-text-primary);
	text-decoration: none;
	background: var(--color-surface);
	padding: calc(9px + (13 - 9) var(--calc-size)) calc(15px + (24 - 15) var(--calc-size));
	margin-top: var(--size-20);
	margin-bottom: var(--size-10);
	cursor: pointer;
	transition: var(--trns-base);
	outline: none;
	border: none;
	font-size: var(--fs-base);
	box-shadow: var(--box-shadow);
}

button:hover,
.btn:hover {
	background: var(--color-hover-surface);
}

button:focus,
.btn:focus {
	border-color: var(--color-hover-surface);
}

button:active,
.btn:active {
	transform: scale(0.97);
}

/** ------ End of Main Window ------ **/

/** ------ About Window ------ **/
.about-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
	gap: var(--size-10);
}

.about-container img {
	margin-bottom: var(--size-15);
}
/** ------ End of About Window ------ **/

/** ------ Frame Window ------ **/
#design-frame {
	margin: 0 auto;
	-webkit-user-select: none;
	user-select: none;
	/* Makes frame dragable but prevents the image to be scrollable */
	/* -webkit-app-region: drag; */
	background: var(--color-background);
	cursor: grab;
	width: 100%;
}

#design-frame:active {
	cursor: grabbing;
}

#design-frame img {
	width: inherit;
	pointer-events: none;
}
/** ------ End of Frame Window ------ **/

@media only screen and (max-width: 767px) {
	.upload-frame-wrapper,
	.preview-wrapper {
		flex: 0 0 100%;
		width: 100%;
		max-width: var(--card-size);
	}
}
